{include file="header.tpl" }
<h3>Login</h3>
{nocache}
    <form action="login.php" method="post" class="form_settings">
<table>

    <tr><th>email</th><td><input type="text" name="email" value="{$data.email}"></td></tr>
    <tr><th>password</th><td><input type="password" name="password" value=""></td></tr>


</table>
    <input type="submit" value="Login" class="mysubmit">
    </form>
<div>{$errors}</div>
{/nocache}


{include file="footer.tpl"}
